<%= form_for(@cloud_account) do |f| %>
  <% if @cloud_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cloud_account.errors.count, "error") %> prohibited this cloud_account from being saved:</h2>

      <ul>
      <% @cloud_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :charge_index %><br />
    <%= f.text_field :charge_index %>
  </div>
  <div class="field">
    <%= f.label :customer_type %><br />
    <%= f.text_field :customer_type %>
  </div>
  <div class="field">
    <%= f.label :organization %><br />
    <%= f.text_field :organization %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
