<h3>Listing hosts</h3>

<table class="table table-striped table-bordered table-hover table-condensed">
  <tr>
    <th>Name</th>
    <th>Kernel</th>
    <th>OS</th>
    <th>Release</th>
    <th>Ip</th>
    <th>Box</th>
    <th></th>
    <th></th>
  </tr>

<% @hosts.each do |host| %>
  <tr>
    <td><%= host.name %></td>
    <td><%= host.kernel %></td>
    <td><%= host.operating_system %></td>
    <td><%= host.os_release %></td>
    <td><%= host.ip %></td>
    <td><%= link_to host.box.name, box_path(host.box.id) %></td>
    <td><%= link_to 'Edit', edit_host_path(host) %></td>
    <td><%= link_to 'Destroy', host, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Host', new_host_path %>
