<p id="notice"><%= notice %></p>

<p>
  <b>name:</b>
  <%= @host.name %>
</p>

<p>
  <b>cloud_environment:</b>
  <%= @host.cloud_environment %>
</p>

<p>
  <b>serial:</b>
  <%= @host.serial %>
</p>

<p>
  <b>operating_system:</b>
  <%= @host.operating_system %>
</p>

<p>
  <b>os_release:</b>
  <%= @host.os_release %>
</p>

<p>
  <b>kernel:</b>
  <%= @host.kernel %>
</p>

<p>
  <b>memory:</b>
  <%= @host.kernel %>
</p>

<p>
  <b>ip:</b>
  <%= @host.ip %>
</p>

<p>
  <b>nic1_macaddress:</b>
  <%= @host.nic1_macaddress %>
</p>

<p>
  <b>ipmi_macaddress:</b>
  <%= @host.ipmi_macaddress %>
</p>

<p>
  <b>ipmi_ipmi_ipaddress:</b>
  <%= @host.ipmi_ipaddress %>
</p>

<b>Extended Attributes:</b>
<% @host.host_attributes.any? %>
<ul>
  <% @host.host_attributes.each do |a| %>
    <li><%= "#{a.name}: #{a.value}" %></li>
  <% end %>
</ul>

<b>Tags:</b>
<% @host.tags.any? %>
<ul>
  <% @host.tags.sort.each do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
</ul>

<b>Notes:</b>
<% @host.comments.any? %>
<ul>
  <% @host.comments.sort.each do |comment| %>
    <li><%= "#{comment.comment} (#{comment.created_at})" %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>

 <p> <%= @host.traits  %>  </br> </p>
