<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @host.name %>
</p>

<p>
  <b>Kernel:</b>
  <%= @host.kernel %>
</p>

<p>
  <b>Operating system:</b>
  <%= @host.operating_system %>
</p>

<p>
  <b>Os release:</b>
  <%= @host.os_release %>
</p>

<p>
  <b>Ip:</b>
  <%= @host.ip %>
</p>

<b>Extended Attributes:</b>
<% @host.host_attributes.any? %>
<ul>
  <% @host.host_attributes.each do |a| %>
    <li><%= "#{a.name}: #{a.value}" %></li>
  <% end %>
</ul>

<b>Tags:</b>
<% @host.tags.any? %>
<ul>
  <% @host.tags.sort.each do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
</ul>

<b>Notes:</b>
<% @host.comments.any? %>
<ul>
  <% @host.comments.sort.each do |comment| %>
    <li><%= "#{comment.comment} (#{comment.created_at})" %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
