<h3>Listing boxes</h3>

<table class="table table-striped table-bordered table-hover table-condensed">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Serial</th>
    <th>Model</th>
    <th>Purchased</th>
    <th>Vendor</th>
    <th></th>
    <th></th>
  </tr>

<% @boxes.each do |box| %>
  <tr>
    <td><%= link_to box.name, box %></td>
    <td><%= box.location %></td>
    <td><%= box.serial %></td>
    <td><%= box.model %></td>
    <td><%= box.purchase_date %></td>
    <td><%= box.vendor %></td>
    <td><%= link_to 'Edit', edit_box_path(box) %></td>
    <td><%= link_to 'Destroy', box, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Box', new_box_path %>
