<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @box.name %>
</p>

<p>
  <b>Location:</b>
  <%= @box.location %>
</p>

<p>
  <b>Serial:</b>
  <%= @box.serial %>
</p>

<p>
  <b>Model:</b>
  <%= @box.model %>
</p>

<p>
  <b>Purchase date:</b>
  <%= @box.purchase_date %>
</p>

<p>
  <b>Vendor:</b>
  <%= @box.vendor %>
</p>

<b>Tags:</b>
<% @box.tags.any? %>
<ul>
<% @box.tags.sort.each do |tag| %>
  <li><%= link_to tag.name, tagged_url(:tag => tag.name) %></li>
<% end %>



<%= link_to 'Edit', edit_box_path(@box) %> |
<%= link_to 'Back', boxes_path %>
